<!-- Default home page -->
<main id="content">
  <section class="droplet" id="droplet">

  </section>
</main>
<section class="show-another">
  <nav>
    <a href="#" class="button button__primary with-icon"><i class="ss-shuffle"></i> Show Me Another</a>
  </nav>
</section>

<script type="text/x-handlebars-template" id="droplet-template">
  <h1>{{content}}</h1>
  <aside class="info">
    <ul class="details">
      <li>with <i class="ss-emptyheart"></i> from <a href="http://twitter.com/{{user}}">{{user}}</a></li>
    </ul>
  </aside>
</script>
